
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.link-href {
    display: block;
    box-shadow: inset 0 0 0 0 #5CB85F;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.link-href:hover{
    box-shadow: inset 100px 0 0 0 #5CB85F;
    color: white;
}
.wrapper-navbar {
    background-color: #F1F3FF;
}
#navbarSupportedContent {
    padding :-1px;
    text-align: center;
    width: 100%;
    font-family: arial; 
}
.navbar-brand {
    text-align: center;
    /* background-color: blue; */
    line-height: 34px;
    border-radius: 5%;
    width: 110px;
    margin-left: 50px;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item {
    margin-right: 50px;
    text-align: center;
    padding-right: 5px;
    float: left;
}
.navbar-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.navbar li {
    float: right;
    position: relative;
  }

.container-fluid {
    background-color: #F1F3FF;
}

section {
    min-height: 250px;
    margin-top: 100px;
    scroll-margin-top: 80px;
}

#hero{
    margin-top: 0px;
    background-position: 0%;    
    background-color:#F1F3FF ;
}

.hero-content {
    padding: 50px !important;
}

.hero-image{
    padding: 0 !important;
}

.title-hero {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 16px;
}
.text-hero {
    font-family: 'Arial';;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}
.hero-button {
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #5CB85F;
    color: #FFFFFF;
    padding: 8px 12px;
    border: none;
}

img{
    max-width: 100%;
    float: center;
    margin-bottom: 10px;

}
.car-hero { 
    /* display: flex; */
    float:right;
    /* background-position: right; */
    justify-content: end;
    /* display: -webkit-box; */
    max-width:100%;
    box-sizing: none;
}
/* home */
.title-service {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
 }
 .text-service {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 18px;
 }

.p-0 {
    margin-bottom: 20px;
}


.benefit {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding-left: 16px;
    padding-top: 20px;

}
/*  END service */

/* why us */
.why-title {
    font-family: arial;
    font-weight:700 ;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}
.why-content {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
    }
.title-card {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-card {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
/* end why us */

/* testimonial */
.title-testi {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;

}
.text-testi {
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    
}
#card-content {
    display: flex;
    justify-content: center;
    width: 30%; 
    height: 100%;

}
.img-fluid {
   display: flex;
   justify-content: center;
   width: 80px;
   height: 80px;
   padding-top: 55px;
   margin-left: 25px;
}
@media (max-width: 576px) {
    .img-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 42%;
    }
    .card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
  }
.card-text1 {

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

  .scroll-content {
      display: inline-block;
  }

.swipe {
    border-radius: 20px;
    border: none;
    width: 25px;

    margin-right: 25px;
    margin-top: 8px;
}
.button-active  {
    text-align: center;

}
.swiper-navBtn {
    border: none;
    border-radius: 15px;
}
.swiper-navBtn:hover {
    background-color:#5CB85F;
}
/* end testimonial */

/* Lokasi */

.col-md-10 {
    background-color: #0D28A6;
    /* width: 1168px; */
    height: 340px;
  }
.header-lokasi {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 16px;
    margin-top: 64px;
}
.text-lokasi {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 60px;
}
.button-lokasi {
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #5CB85F;
    color: #FFFFFF;
    padding: 8px 12px;
    border: none;
    padding: 8px 12px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end */

/* question */
.title-question {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.text-question {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.accordion-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
/* end */

/* footer */

.footer-section {
    margin-top: 40px;
}
.title-alamat {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}
.link-href {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom :16px;
      display: block;
      text-decoration: none;
}
.link-href:link {
    color: black;
}
.text-sosmed {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}
.logo-sosmed {
    margin-right: 8px;
}
.text-copyright {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

.text-copyright {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

.footer-section {
    height: 350px;
    margin-top:  50px; ;
}
.button-copyright {
    background-color:#0D28A6;
    width: 100px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tag-binar {
    color: white;
    text-decoration: none;
}